# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# .vscode settings
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Logs and DB
*.log
*.db
*.txt
